body {
  background-color: #f9f7fe;
}

a {
  color: #885df1;
}

.weather-app-container {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 30px auto;
  padding: 30px;
  max-width: 600px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px;
}

.weather-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  width: 80%;
  font-size: 16px;
}

.weather-form-button {
  background-color: #885df1;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
}

.weather-app-content {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  color: #A9A6B3;
  font-size: 16px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #F65282;
}

.current-weather {
  display: flex;
}

.current-weather-icon {
  font-size: 40px;
  margin: 15px 4px 0 0;
}

.current-weather-temperature {
  font-size: 86px;
  font-weight: 600;
}

.current-weather-unit {
  font-size: 25px;
  margin-top: 15px;
}

footer {
  border-top: 1px solid #f9f7fe;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 30px 0 0 0;
  text-align: center;
}
